input[type="text"] {
  width: 220px;
}

select {
  width: 220px;
}

label {
  display: inline-block;
  width: 150px;
  text-align: left;
}

.rowLabel {
    font-size: 14px;
}

#wrapper {
    padding-top: 50px;
}

a {
    color: #a9a9a9;
    text-decoration: none;
}


/* override */
#tab-container {
    top:160px;
}