body {
    background-color: white;
    line-height: 1.5;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 75%;
    color: #222222;
}

.button-cell {
  text-align: center;
}

.button-in-cell {
  font-size: 11px;
}

#tab-container {
    top:160px;
}